.icons_list {
    height: 32px;
    vertical-align: middle;
}

.button {
    height: 30px;
    display: inline-block;
}

.bookmark_mobile {
    display: none;
}

@media(max-width:391px){
    .bookmark_pc {
        display: none;
    }

    .bookmark_mobile {
        display: inline-block;
        margin-top: 3px;
    }
}