.comment_num {
    font-weight: bold;
    margin: 5px 0;
    padding-left: 5px;
}

.comment_ul {
    height: 237px; /*237*/
    overflow: scroll;
    -ms-overflow-style: none;
}
.comment_ul::-webkit-scrollbar { display: none; }

/* .comment_ul::-webkit-scrollbar {
    width: 10px;
} 
   
.comment_ul::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 5px;
}
   
.comment_ul::-webkit-scrollbar-thumb {
    background: #64b3f4;
    border-radius: 5px;
} */


.one_comment_and_remove_button {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}


.comment_click {
    cursor: pointer;
}


/*comment*/

.writing_area {
    margin-top: 9px;
}


.now_comment_user {
    width: 30%;
    font-weight: bold;
    line-height: 1.1;
    padding-left: 4px;
    /* margin-bottom: 7px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* .writing_content {
    margin: 5px 0;
} */

.new_comment_content, .new_comment_content_pc_version, .new_comment_content_mobile_version, .visitor_comment {
    width: 300px;
    height: 41px;
    box-sizing: border-box;
    resize: none;
    margin: 5px 0 0 3px;
}

.new_comment_submit_button {
    float: right;
    height: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: white; 
    border: 1px solid black; 
    border-radius: 30px;
    cursor: pointer;
    color: black;
}

.remove_comment {
    cursor: pointer;
    position: relative;
    left: 341px;
    height: 21px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: white; 
    border: 1px solid white; 
    cursor: pointer;
    color: black;
    padding: 3px;
}

.mobile_comment {
    display: none;
}

@media(max-width:391px){
    .pc_comment {
        display: none;
    }

    .comment_num {
        margin-top: 30px;
        color: gray;
        padding-left: 0;
    }
    /* .comment_num:hover {
        text-decoration: underline;
    } */

    .comment_ul {
        height: auto;
    }

    .one_comment_and_remove_button {
        padding: 7px 7px 7px 0;
        margin: 0;
    }

    .mobile_comment {
        display: block;
    }

    .remove_comment {
        /* left: 309px; */
        bottom: 7px;
    }

    .writing_area {
        padding-top: 15px;
    }

    .new_comment_content_mobile_version, .visitor_comment {
        width: 266px;
    }

    .new_comment_submit_button {
        width: 60px;
        height: 40px;
        margin: 5px 5px 0 0;
    }
}