.icons_list {
    display: inline-block;
}

.heart_filled {
    padding-top: 6px; /*vertical-middle 적용안돼서*/
    color: red;
    font-size: 20px;
}

.heart_outlined {
    padding-top: 5px;
    font-size: 20px;
}

.button {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition: transform 300ms ease;
}

.button:hover {
    transform: scale(1.1);
}

.like_num {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}