.icons_list {
    display: inline-block;
}

.heart_filled {
    padding-top: 6px;
    color: red;
    font-size: 20px;
}

.heart_outlined {
    padding-top: 6px;
    font-size: 20px;
}

.button {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition: transform 300ms ease;
}

.button:hover {
    transform: scale(1.1);
}

.like_num, .urgent_num {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}

.urgent_yes {
    color: red;
    font-size: 20px;
}

.urgent_not {
    font-size: 20px;
}

.urgent_yes, .urgent_not, .heart_filled, .heart_outlined {
    margin-left: 5px;
}


@media(max-width:391px){
    .like_num {
        width: 28px;
        vertical-align: bottom;
    }

    .urgent_num {
        width: 28px;
        vertical-align: sub;
    }
    
    .heart_filled, .heart_outlined {
        margin-left: 10px;
        font-size: 25px;
    }

    .urgent_yes, .urgent_not {
        margin-left: 10px;
        font-size: 25px;
        padding-top: 6px;
    }

}