.icons_list {
    display: inline-block;
}

.heart_filled {
    color: red;
    font-size: 20px;
}

.heart_outlined {
    font-size: 20px;
}

.button {
    display: inline-block;
    cursor: pointer;
    transition: transform 300ms ease;
}

.button:hover {
    transform: scale(1.1);
}

.like_num {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}