@charset "utf-8";
/*reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-width: 320px;
	line-height: 1;
	font-family : '나눔고딕' ,NanumGothic, '돋움' , Dotum, sans-serif;

}
ul, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input, button,select{
	font:inherit;
}

a{
	color: black;
	text-decoration: none;
}

.whole_page {
    width: 1080px;
    margin: 0 auto;
    margin-top: 64px;
}

.main_box {
    width: 1080px;
    margin: 0 auto;
    /*background-color: red;*/
}

.post_page {
    margin: 0 auto;
    position: relative;
}

.post_img { /*16:9 -> 320:180 -> 640:360*/
    /*250:350 => 곱하기 1.8 => 450 : 630*/
    width: 450px;
    height: 630px;
    margin-right: 15px;
    vertical-align: top;
    /*border: 3px solid #fff;*/
    border-radius: 20px;
    box-sizing: border-box;
}



.content_box {
    text-align: left;
    display: inline-block;
    background-color: #fff;
    width: 615px;
    height: 630px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 20px;
    overflow: auto;
}

.writer {
    padding: 30px;
    border-bottom: 1px solid;
}

.writer_img { 
    vertical-align:middle;
    display:inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    *border: 1px solid;
    border-radius: 50%;
}

.writer_name {
    font-weight: bold;
    margin-left: 7px;
    margin-bottom: 5px;
    display:inline-block;
}

.writer_content {
    line-height: 1.4;
    
}


.comment {
    position: relative;
    padding: 10px 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}


.one_comment {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

.one_comment_last {
    border: None;
}

.comment_user {
    margin-left: 7px;
    margin-bottom: 5px;
    display:inline-block;
    padding-bottom: 5px;
}

.comment_content_last {
    
}

.icons {
    width: 450px;
    text-align: left;
    line-height: 30px;
}

.post_list {
    display: inline-block;
    float: right;
}

.recommend_tag {
    text-align: left;
    margin-top: 30px;
    margin-left: 0;
    font-weight: bold;
}


.container{
    margin-top: 20px;
    width: 100%;
      
}

.content{
    height: auto;
    margin: auto;
}