@charset "utf-8";

.post_dimmed_info_writer{
	position: absolute;
	bottom: 10px;
	left: 10px;
	
	display: none;
}

.post_dimmed_info_like{
	position: absolute;
	bottom: 20px;
	right: 10px;
	display: none;
}

.post_img_item {
	border-radius:16px;
	height:322.55px;
}

.post_image_list_item:hover .post_dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.post_image_list_item:hover .post_dimmed_info_writer, .post_image_list_item:hover .post_dimmed_info_like{
	display: block;
	font-size: 13px;
}

.post_ellips{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media(max-width:391px){
	.post_img_item {
		border-radius: 0;
	}

	.post_image_list_item:hover .post_dimmed_layer {
		margin-top: 10px;
		border-radius: 0;
	}
}