@charset "utf-8";
/*reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-width: 1082px;
	line-height: 1;
	font-family : '나눔고딕' ,NanumGothic, '돋움' , Dotum, sans-serif;

}
ul, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input, button,select{
	font:inherit;
}

a{
	color: black;
	text-decoration: none;
}



/*searchPage CSS*/
.blind{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0 ,0, 0);
	margin: -1px;
	overflow: hidden;
  }



.tag_div{
    position: absolute;
    top: 75px;
    width: 100%;
	background-color: white;
}

.tag_list{
	position: relative;
	overflow: hidden;
}

.tag_list li{
   float: left;
}

.tag_more_list_on{
	padding: 10px;
	margin-right: 15px;
	width: 88%;
	min-width: 980px;
	height: auto;
	background-color: white;
	border: 2px solid #999999;
	border-radius: 30px;
	position: relative;
	top: -12px;
	left: -12px;
	z-index: 1000;
}

.tag_more_list_off{
	width: 90%;
	min-width: 980px;
	height: 50px;
	overflow: hidden;
	background-color: white;
	position: relative;
}


.dimmed_info_writer{
	position: absolute;
	bottom: 15px;
	left: 10px;
	display: none;
}
.dimmed_info_like{
	position: absolute;
	bottom: 20px;
	right: 10px;
	display: none;
}

.img_item{
	border-radius:16px;

}



.image_list_item:hover .dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.image_list_item:hover .dimmed_info_writer, .image_list_item:hover .dimmed_info_like{
	display: block;
}
