
.writer_img {
    vertical-align:middle;
    display:inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 3px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    border: 2px solid #fff;
    border-radius: 50%;
}

.star_icon {
    color: gray;
}

.best_pick {
    border: 4px solid gray;
    border-radius: 50%;
}

.single_comment {
    min-height: 69px;
}

.comment_user_name {
    width: 30%;
    cursor: pointer;
    font-weight: 650;
    display:inline-block;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment_content {
    line-height: 1.4;
    padding-left: 6px;
}

