.thumb_div {
    display:inline-block;
    float: right;
}
.thumb_up {
    vertical-align: middle;
    color: #44546A;
}

.thumb_off {
    vertical-align: middle;
    color: #D9D9D9;
}


.thumb_num {
    margin-right: 5px;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.thumb_mobile {
    display: none;
}

@media(max-width:391px){
    .thumb_pc {
        display: none;
    }

    .thumb_mobile {
        display:inline-block;
    }

    .thumb_up, .thumb_off {
        font-size: 30;
    }
}