### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# node.js
node_modules/
npm-debug.log
yarn-error.log

bower_components

*.sublime*

psd
thumb
sketch
 
 #.lock
 pakage-lock.json
 yarn.lock
 ios/Podfile.lock
