@charset "utf-8";
/*reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-width: 320px;
	line-height: 1;
	font-family : '나눔고딕' ,NanumGothic, '돋움' , Dotum, sans-serif;

}
ul, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input, button,select{
	font:inherit;
}

a{
	color: black;
	text-decoration: none;
}



#main_page{
    width: 100%;
    margin: auto;
    overflow-y: auto;
    background-color: white;
}
.banner{
    margin: auto;
    height: 40%;
    width: 100%;
    background-color: #F2F2F2;
}
.banner_text{
    padding-top: 3%;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
}
.banner_bestpost{
    margin: auto;
    padding: 2% 3% 3% 3%;
    width: 1200px;
}
.collection{
    position: relative;
    width: 1080px;
    overflow-y: auto; 
    margin: auto;
    padding: 10px;
    background-color: white;

    text-align: left;
}
.title{
    display: inline-block;
    margin: 12px;
}
.weekly_image_list_item:hover .dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 34px;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 16px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
.seemore{
    display: inline;
    position: absolute;
    right:0;
    margin: 22px 20px 0px 16px;
    

    color: grey;
    font-weight: 600;
    font-size: 0.8em;
}
