@charset "utf-8";


#main_page{
    width: 100%;
    margin: auto;
    overflow-y: auto;
    background-color: white;
}
.banner{
    margin: auto;
    height: 40%;
    width: 100%;
    background-color: #F2F2F2;
}
.banner_text{
    padding-top: 3%;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
}
.banner_bestpost{
    margin: auto;
    padding: 3%;
    width: 1200px;
}
.collection{
    position: relative;
    width: 1080px;
    overflow-y: auto; 
    margin: auto;
    padding: 10px;
    background-color: white;

    text-align: left;
}
.title{
    display: inline-block;
    margin: 12px;
}
.weekly_image_list_item:hover .dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 34px;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 16px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
.seemore{
    display: inline;
    position: absolute;
    right:0;
    margin: 22px 20px 0px 16px;
    

    color: grey;
    font-weight: 600;
    font-size: 0.8em;
}
