@charset "utf-8";


#main_page{
    position: relative;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    background-color: white;
   
}
.main_banner{
    position: relative;
    margin: auto;
    height: 850px;
    width: 100%;
    background-color: #c0e0f6;
    text-align: left;
    overflow-y: auto;
}
.banner_img{
    overflow-y: auto;
    display: block;
    margin: auto;
}
.banner_title{
    position: absolute;
    top: 250px;
    left: 180px;
}
.contents{
	overflow: auto;
	margin-bottom: 120px;
}
.main_collection{
    position: relative;
    width: 1080px;
    overflow-y: auto; 
    margin: 30px auto;
    padding: 10px;
    background-color: white;

    text-align: center;
}
.main_title{
    display: inline-block;
    margin: 60px 0px;
}
.main_seemore{
    position: absolute;
    left: 1010px;
    top: 105px;
    margin: 22px 20px 0px 16px;
    

    color: grey;
    font-weight: 600;
    font-size: 0.8em;
}
.dimmed:hover .dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 34px;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 16px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
.innerdiv{
    display: flex;
}
.innerdiv_margin{
    display: flex;
    margin-left: auto;
}