@charset "utf-8";


#main_page{
    width: 100%;
    margin: auto;
    overflow-y: auto;
    background-color: white;
   
}
.banner{
    margin: auto;
    height: 415px;
    width: 100%;
    background-color: #F2F2F2;
}
.collection{
    position: relative;
    width: 1080px;
    overflow-y: auto; 
    margin: auto;
    padding: 10px;
    background-color: white;

    text-align: left;
}
.title{
    display: inline-block;
    margin: 12px;
}
.seemore{
    display: inline;
    position: absolute;
    right:0;
    margin: 22px 20px 0px 16px;
    

    color: grey;
    font-weight: 600;
    font-size: 0.8em;
}
