@charset "utf-8";



/*searchPage CSS*/
.blind{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0 ,0, 0);
	margin: -1px;
	overflow: hidden;
  }

.search_page_container{
    width: 100%;  
	background-color:rgba(0, 0, 0, 0);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
      
}

.search_page_content{
    position:  relative;
	top: 130px;
    background-color: white;
    height: auto;
    width: 1080px;
    margin: auto;
}

.tag_div{
	padding: 10px 0 5px;
	border-top: 0px solid white;

    position: fixed;
    top: 45px;
    width: 100%;
	background-color: white;
	min-width: 1080px;

	z-index: 1000;

	border-bottom: 1px solid lightgray;
}

.tag_list{
	margin: auto;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.tag_list li{
   float: left;
}

.tag_more_list_on{
	padding: 10px;
	margin-left:40px;
	width: 88%;
	height: auto;
	background-color: white;
	position: relative;
	border: 0px;
	top: -12px;
	left: -10px;
	z-index: 1000;
}

.tag_more_list_off{
	width: 88%;
	margin-left:40px;
	height: 40px;
	overflow: hidden;
	background-color: white;
	position: relative;
}

.rank_tag_list{
	margin:auto;
	position: relative;
	overflow: hidden;
	height: auto;
}

.rank_tag_list li{
	float: left;
 }

.dimmed_info_writer{
	position: absolute;
	bottom: 20px;
	left: 10px;
	display: none;
}
.dimmed_info_like{
	position: absolute;
	bottom: 20px;
	right: 10px;
	display: none;
}

.img_item{
	border-radius:16px;
	height:322.55px;

}


.image_list_item:hover .dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.image_list_item:hover .dimmed_info_writer, .image_list_item:hover .dimmed_info_like{
	display: block;
	font-size: 13px;
}
