@charset "utf-8";



/*searchPage CSS*/
.blind{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0 ,0, 0);
	margin: -1px;
	overflow: hidden;
  }

.search_page_container{
    width: 100%;  
	background-color:rgba(0, 0, 0, 0);
	margin-bottom: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
      
}

.search_page_content{
    position:  relative;
	top: 50px;
    background-color: white;
    height: auto;
    width: 1080px;
    margin: auto;
}




.tag_div_off{
	padding: 10px 0 5px;
	border-top: 0px solid white;
	height: 40px;
	overflow: hidden;
    position: fixed;
    top: 45px;
    width: 100%;
	background-color: white;
	min-width: 1080px;
	box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);

	z-index: 900;
}
@keyframes smoothDisappear {
	100% {
	  padding: 10px 0 5px;
		border-top: 0px solid white;
		height: 40px;

		position: fixed;
		top: 45px;
		width: 100%;
		background-color: white;
		min-width: 1080px;
		box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
		z-index: 900;
	}
	90% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 150px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.98);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	80% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 300px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.98);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	  70% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 450px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.98);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	60% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
  
		  position: fixed;
		  top: 45px;
		  height: 600px;

		  width: 100%;
		  background-color: rgba(255,255,255,0.96);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	  50% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
  
		  position: fixed;
		  top: 45px;
		  height: 700px;

		  width: 100%;
		  background-color: rgba(255,255,255,0.96);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	40% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 800px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.94);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	  30% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 900px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.94);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	15% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
  		height: 1000px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.92);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	0% {
	  padding: 10px 0 5px;
		border-top: 0px solid white;
		height: 2000px;
		position: fixed;
		top: 45px;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
		min-width: 1080px;
		z-index: 900;
	}
}

@keyframes smoothAppear {
	0% {
	  padding: 10px 0 5px;
		border-top: 0px solid white;
		height: 40px;

		position: fixed;
		top: 45px;
		width: 100%;
		background-color: white;
		min-width: 1080px;
		box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
		z-index: 900;
	}
	10% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 150px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.98);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	20% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 300px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.98);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	  30% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 450px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.98);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	40% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
  
		  position: fixed;
		  top: 45px;
		  height: 600px;

		  width: 100%;
		  background-color: rgba(255,255,255,0.96);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	  50% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
  
		  position: fixed;
		  top: 45px;
		  height: 700px;

		  width: 100%;
		  background-color: rgba(255,255,255,0.96);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	60% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 800px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.94);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	  70% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
		  height: 900px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.94);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	80% {
		padding: 10px 0 5px;
		  border-top: 0px solid white;
  		height: 1000px;

		  position: fixed;
		  top: 45px;
		  width: 100%;
		  background-color: rgba(255,255,255,0.92);
		  min-width: 1080px;
		  box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
  
		  z-index: 900;
		}
	100% {
	  padding: 10px 0 5px;
		border-top: 0px solid white;
		height: 2000px;
		position: fixed;
		top: 45px;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
		box-shadow: 0 1px 10px 2px rgba(211,211,211,0.5);
		min-width: 1080px;
		z-index: 900;
	}
}

.tag_div_on_to_off{
	animation: smoothDisappear 0.3s 0s 1 normal forwards;
	overflow: hidden;

	z-index: 900;
}


.tag_div_on{
	z-index: 900;
	animation: smoothAppear 0.3s 0s 1 normal forwards;
}


.tag_list{
	margin: auto;
	width: 1080px;
	position: relative;
	overflow: hidden;
	padding: 0 60px;
	box-sizing: border-box;
}

.tag_list li{
   float: left;
}

.tag_more_list{
	padding: 10px;
	margin: auto;
	background-color: rgba(255,255,255,0);
	position: relative;
	border: 0px;
	top: -12px;
	left: -10px;
}


.rank_tag_list{
	margin:auto;
	position: relative;
	overflow: hidden;
	height: auto;
}

.rank_tag_list li{
	float: left;
 }

.dimmed_info_writer{
	position: absolute;
	bottom: 10px;
	left: 10px;
	
	display: none;
}
.dimmed_info_like{
	position: absolute;
	bottom: 20px;
	right: 10px;
	display: none;
}

.img_item{
	border-radius:16px;
	height:322.55px;
}


.image_list_item:hover .dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.image_list_item:hover .dimmed_info_writer, .image_list_item:hover .dimmed_info_like{
	display: block;
	font-size: 13px;
}


.ellips{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}