@charset "utf-8";
/*reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	min-width: 1082px;
	line-height: 1;
	font-family : 'NanumGothic' ,NanumGothic, '돋움' , Dotum, sans-serif;

}
ul, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input, button,select{
	font:inherit;
}

a{
	color: black;
	text-decoration: none;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/*header CSS*/
.header_bar{
    position: fixed;
    top: 0;
    min-width: 1082px;
    width: 100%;
	z-index: 10000;

}



.logo_button:hover{
	cursor: pointer;
}

.logo_img{
	position: relative;
	top:-10px;
	width: 140px;
	height: 30px;


}

.select{
    margin: 5px;
	float:right;
}

.move_to_top{
	position: fixed;
	bottom: 100px;
	right: 40px;
	width: 40px;
	height: 40px;
	background-color:lightgray;

}

.top_button{
	width: 100%;
	height: 100%;
	background-color: lightgray;
	border: 0px;
	font-size: 13px;
}

.top_button:hover{
	cursor: pointer;
}

.header_login{
	font-size:  13px;
	color: black;
	position: relative;
	top: -10px;
	right: 10px;
}

.login_popup{
	width: 100%;
	height: 120%;
	position: fixed;
	top: -50px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999999;
	padding-top: 50px;
}

.login_popup_inside{
	position: absolute;
	top: 100px;
}

.bar_user_name{
	font-size: 12px;
	margin-right: 8px;
	margin-left: -10px;
}

.ellips{
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 4em;
	overflow: hidden;
	word-break: normal;
	display: inline-block;
}

.igVJyN {
	padding: 0 50px;
}