@charset "utf-8";

/*write CSS*/



.blind{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0 ,0, 0);
	margin: -1px;
	overflow: hidden;
  }

  .post_write_container{
      position: fixed;
      top:0;
      padding: 80px 0 120px;
      background-color:rgba(0, 0, 0 , 0.5);
      width: 100%;
      height: 900px;
      z-index: 10000000;
  }

  .post_write_content{
    width: 830px;
    height: 480px;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    padding: 40px;
    position: relative;
  }

  .image_file_input{
      position: relative;
      text-align: center;
      line-height: 452.1px;
      width: 293.5px;
      height: 452.1px;
      /* line-height: 480px;
      width: 311.6px;
      height: 480px; */
      background-color: lightgray;
      background-position: center center;
      border: 1px solid white;
      border-radius: 30px;

  }

  .img_file_form{
    width: 400px;
    height: 480px;
    cursor: pointer;
    color:white;
    position: absolute;
    top:0;left: 0;
    display: none;
    
  }

  .click_img {
    position: absolute;
    /*top: 450px;*/
    top: 505px;
    left: 120px;
    cursor: pointer;
    /*
    width: 400px;
    height: 480px;
    */
    padding: 10px; /*10px*/
    border: 1px solid gray;
    border-radius: 30px;
  }


  .post_text_input{
    position: absolute;
    top:40px; right: 40px;
    width: 500px;
    height: 480px;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
  }

  .upload_img {
    display: inline-block;
    width: 293.5px;
    height: 452.1px;
    border-radius: 30px;
    background-size: cover;
    background-position: center center;
    border: 1px solid gray;
  }

  .delete_img {

    position: absolute;
    top:40px; right: 40px;
    width: 40px;
    height: 40px;

  }

  .text_form{
  }

  .content_write {
    height: 100px; /*min-height: 250px;*/
    margin: 10px 0 30px;
    width: 100%;
    border: 1px solid #000; /*#9b9b9b;*/
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
  }

  .tag_write {
    margin-bottom: 20px;
  }

  .radio123 {
    appearance: none;
    background-color: #2f2f2f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 30%;
    margin: 10px;
    border: none;
  }

  .radio input[type="radio"]{
    display:none;
  }
  
  .radio input[type="radio"] + span{
    display:inline-block;
    background:none;
    border:1px solid;  
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    cursor:pointer;
    margin-right: 10px;
    border-radius: 15px;

  }
  
  .radio input[type="radio"]:checked + span{
    border:1px solid black;
    background-color: black;
    color:#fff;
    border-radius: 15px;

  
  }

  .select_blind {
    margin: 10px 0 30px;
  }

  .tag_area {
    position: relative;
    top: -20px;
    width: 396px;
    height: 200px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 30px;
    z-index: 1;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .tag_area::-webkit-scrollbar { display: none; }

  .postwrite_tag_list {
    width: 354px;
  }

  .submit_button {
    position: absolute;
    top:390px;
    left:80px;
    width: 340px;
  }

  
@media(max-width:391px){

  .post_write_container {
    height: 100%;
    padding: 22px 0 0 0;
  }

  .post_write_content{
    /* width: 390px; */
    width: 100%;
    height: 800px;
    padding: 0;
    box-sizing: border-box;
  }

  .upload_img {
    width: 250px;
    height: 385px;
    border-radius: 0;
  }

  .click_img {
    top: 439px;
    left: 129px;
  }

  .post_text_input {
    width: 390px;
    padding: 10px;
    /* margin-top: 10px; */
    position: relative;
    top: 105px;
    right: 0;
  }
  
  .post_text_input h3 {
    display: none;
    margin-top: 15px;
  }

  .content_write {
    box-sizing: border-box;
    margin: 2px 0 9px;
    width: 280px;
    height: 45px;
  }

  .image_file_input {
    width: 250px;
    height: 385px;
    line-height: 385px;
    top: 40px;
    margin: 0 auto;
    border-radius: 0%;
  }

  .tag_write {
    width: 280px;
    margin: 0 auto;
  }

  .tag_area {
    top: 0px;
    width: 360px;
    height: 165px;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .select_blind_wrap {
    left: 133.1px;
    position: fixed;
  }

  .select_blind_wrap h3 {
    display: block;
  }
  
  .submit_button {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    margin: 50px auto 0 auto;
  }
}