.wrap {
	min-width: 1080px;
}

.wrap_recommend {
	width: 1080px;
	margin: 0 auto;
}

.sort_font {
    text-align: left;
    margin-top: 30px;
    margin-left: 0;
    font-weight: bold;
}

.select_sort {
	padding: 0 10px;
}

.select_sort input[type=radio] {
	display: none;
}


.select_sort label {
	margin-right: 10px;
	color: grey;
}
.select_sort input[type=radio]:checked+label {
	color: black;
}
.container{
    margin-top: 20px;
    width: 100%;

}

.content{
    height: auto;
    margin: auto;
}
