.wrap {
	min-width: 1080px;
}

.today_background_wrap {
	margin-top: 40px;
	background-color: #F2F2F2;
	height: 500px;
}

.today_wear {
	text-align: left;
	width: 1080px;
	height: 400px;
	margin: 0 auto;
	padding-top: 50px;
}


.today_wear .title {
	font-size: 50px;
}

.today_wear .title, .title_tag {
	color: #253861;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.today_wear .img_list {
	margin: 0 auto;
}

.rank_list {
	line-height: 333px;
}

.rank_list img {
	border-radius: 16px;
	position: relative;
	vertical-align: middle;
	box-shadow: 5px 5px 10px grey;
}

.rank_list .rank_form1 {
	width: 230px;
	height: 306px;
	z-index: 30;
}

.rank_list .rank_form2 {
	width: 200px;
	height: 266px;
	z-index: 20;
}

.rank_list .rank_form3 {
	width: 180px;
	height: 240px;
	z-index: 10;
}

.rank_list .rank4 {
	left:60px;
}
.rank_list .rank5 {
	left:30px;
}

.rank_list .rank3 {
	right:60px;
}
.rank_list .rank2 {
	right:30px;
}

.rank_list .arrow {
	color: white;
	font-size: large;
	background-color: grey;
	position: relative;
	vertical-align: middle;
}

.rank_list .left {
	left: 30px;
}
.rank_list .right {
	right: 30px;
}

.wrap_recommend {
	width: 1080px;
	margin: 0 auto;
}

.sort_font {
    text-align: left;
    margin-top: 30px;
    margin-left: 0;
    font-weight: bold;
}

.select_sort input[type=radio] {
	display: none;
}


.select_sort label {
	margin-right: 10px;
	color: grey;
}
.select_sort input[type=radio]:checked+label {
	color: black;
}
.container{
    margin-top: 20px;
    width: 100%;

}

.content{
    height: auto;
    margin: auto;
}
