:root{
	--now_index:0;
}

.div_test{
	padding-top: 30px;
	height: 430px;

}

.div_test:focus-visible{
	outline:none;
}
.today_background_wrap {
	margin-top: 40px;
	background-color: #F2F2F2;
    height: 600px;
}

.today_wear {
	text-align: left;
	width: 1080px;
	height: 400px;
	margin: 0 auto;
	padding-top: 50px;
}

.today_wear .slick-next, .today_wear .slick-prev{
	top:40%;
}

.today_wear .title {
	font-size: 50px;
}

.today_wear .title, .title_tag {
	color: #253861;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.today_wear .container{
    margin: 0 auto;
    padding: 20px 0;
    width: 900px;
}
.today_wear .container .div_test {
    margin-left: -30px;
    position: relative;
}

.today_wear img, .img_div {
    width: 180px;
    height:277.2px;
    margin: 30px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
}



.today_wear .slick-next:before,
.today_wear .slick-prev:before {
    color: #000;
    font-size: 35px;
}
.today_wear .slick-prev:before{
    margin-left: -20px;
}



.today_wear .center .slick-active + .slick-active .img_div {
    z-index: 9;
    opacity: 1;
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}


.today_wear .center .slick-current + .slick-active + .slick-active .img_div{
	z-index: 8;
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
}

.today_wear .center .slick-track .slick-current .img_div {
    z-index: 11;
    opacity: 1;
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


.today_wear .center .img_div {
    transition: all .3s ease;
}


.today_wear .slick-center:hover .dimmed_layer{
	z-index: 40;
	position: absolute;
	/* top: 12px;
	bottom: 28px; */
	top: 18.4px;
	bottom: 81px;
	right: -57px;
	left: 3px;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.3);

    color: white;
	border-radius: 40px;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
}

.dimmed_info{
    display: none;
    position: absolute;
    text-align: center;
    font-size: 1.5em;
}
.today_wear .slick-center:hover .dimmed_info {
	z-index: 40;
	display: block;
    position: absolute;
    left: 120px;
    top: 100px;
}
.today_wear .slick-center:hover .dimmed_info .profileImg {
	margin: 0px;
	display: inline-block;
	position: relative;	
	/* left: -55px; */
	left: -90px;
	top: 30px;
}
.today_wear .slick-center:hover .dimmed_info .profileName {
	display: inline-block;
	position: relative;
		
	/* left: -45px; */
	left: -7px;
	top: -3px;
}

.today_wear .box {
	position: absolute;
	top: 70px;
	left: -37px;
}

.postEllips{
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 4em;
	overflow: hidden;
	word-break: normal;
	display: inline-block;
}