






.wrap_recommend {
	width: 1080px;
	margin: 0 auto;
	font-size: 13px;
}

.sort_font {
    text-align: left;
    font-weight: bold;
	font-size: 15px;
}

.select_sort {
	padding-left: 10px;
	float: left;
	height: 50px;
	line-height: 50px;
	margin-top: 30px;
}

.select_sort input[type=radio] {
	display: none;
}


.select_sort label {
	margin-right: 15px;
	color: grey;
}
.select_sort input[type=radio]:checked+label {
	color: black;
}

.wrap_recommend .filter_layout {
	width: 100px;
	float: right;
	margin-left: 10px;
	margin-top: 30px;
}
.wrap_recommend .filter_layout::after {
	clear: both;
	content: '';
	display: block; 
}

.wrap_recommend .filter_layout .writeButton {
	width: 100px;
	border-radius: 50px;
	color: black;
	border-color: gray;
}

.wrap_recommend .collection{
    position: relative;
    width: 1080px;
    overflow-y: auto; 
    margin: auto;
    padding: 0 10px 10px 10px;
    background-color: white;
    text-align: left;
}
.wrap_recommend .today_image_list_item:hover .dimmed_layer{
	position: absolute;
	top: 0;
	bottom: 34px;
	right: 0;
	left: 0;

	padding: 33% 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 16px;

    color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.wrap_recommend .collection .user_profile,
.wrap_recommend .collection .user_like {
	display: flex;
}
.wrap_recommend .collection .user_like {
	margin-left: auto;
}
